.inergwebdesign-container {
  min-height: 100vh;
}
.inergwebdesign-inergwebdesign {
  width: 1742px;
  height: 5689px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 1);
}
.inergwebdesign-rectangle {
  top: 5219px;
  left: 0px;
  width: 1440px;
  height: 470px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.inergwebdesign-text {
  top: 5368px;
  left: 165px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text002 {
  top: 5414px;
  left: 165px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text004 {
  top: 5362px;
  left: 950px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text011 {
  top: 5459px;
  left: 950px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text013 {
  top: 5457px;
  left: 165px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text015 {
  top: 5362px;
  left: 458px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text017 {
  top: 5403px;
  left: 458px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text019 {
  top: 5444px;
  left: 458px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text021 {
  top: 5485px;
  left: 459px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text023 {
  top: 5362px;
  left: 704px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text025 {
  top: 5403px;
  left: 704px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text027 {
  top: 5444px;
  left: 704px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text029 {
  top: 5485px;
  left: 705px;
  color: rgba(123, 131, 143, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-screenshot20220819121915removebgpreview1 {
  top: 5265px;
  left: 159px;
  width: 121px;
  height: 49px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.inergwebdesign-text031 {
  top: 4578px;
  left: 565px;
  color: rgba(29, 45, 63, 1);
  height: auto;
  position: absolute;
  font-size: 54px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame174 {
  top: 5034px;
  left: 455px;
  width: 529px;
  display: flex;
  padding: 16px 201px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  flex-direction: column;
  background-color: rgba(27, 187, 212, 1);
}
.inergwebdesign-text033 {
  color: rgba(247, 250, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame177 {
  top: 4678px;
  left: 455px;
  width: 529px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(123, 131, 143, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.inergwebdesign-text035 {
  color: rgba(132, 132, 132, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.inergwebdesign-frame176 {
  top: 4748px;
  left: 455px;
  width: 530px;
  display: flex;
  padding: 16px 30px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(123, 131, 143, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.inergwebdesign-text037 {
  color: rgba(132, 132, 132, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame175 {
  top: 4821px;
  left: 455px;
  width: 530px;
  height: 181px;
  display: flex;
  padding: 15px 30px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(123, 131, 143, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.inergwebdesign-text039 {
  color: rgba(132, 132, 132, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame170 {
  top: 4222px;
  left: 365px;
  width: 289px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text041 {
  color: rgba(29, 45, 63, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 23px;
  text-decoration: none;
}
.inergwebdesign-text043 {
  color: rgba(132, 132, 132, 1);
  width: 279px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 23px;
  text-decoration: none;
}
.inergwebdesign-text045 {
  color: rgba(253, 141, 30, 1);
  width: 83px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.inergwebdesign-frame172 {
  top: 3887px;
  left: 357px;
  width: 345px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-image {
  width: 325px;
  height: 280px;
  position: relative;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.inergwebdesign-image:hover {
  box-shadow: 5px 25px 15px 5px #d4d4d4;
}
.inergwebdesign-frame171 {
  top: 4222px;
  left: 747px;
  width: 341px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text047 {
  color: rgba(29, 45, 63, 1);
  width: 270px;
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 18px;
  text-decoration: none;
}
.inergwebdesign-text049 {
  color: rgba(132, 132, 132, 1);
  width: 341px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 18px;
  text-decoration: none;
}
.inergwebdesign-text051 {
  color: rgba(253, 141, 30, 1);
  width: 83px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.inergwebdesign-frame173 {
  top: 3887px;
  left: 739px;
  width: 345px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-image1 {
  width: 325px;
  height: 280px;
  position: relative;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.inergwebdesign-image1:hover {
  box-shadow: 5px 25px 15px 5px #d4d4d4;
}
.inergwebdesign-image2 {
  top: 3161px;
  left: 769px;
  width: 569px;
  height: 569px;
  position: absolute;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.inergwebdesign-image2:hover {
  box-shadow: 5px 25px 20px 5px #d4d4d4;
}
.inergwebdesign-frame17 {
  top: 3207px;
  left: 135px;
  width: 612px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text053 {
  color: rgba(29, 45, 63, 1);
  width: 612px;
  height: auto;
  font-size: 54px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 65px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 60px;
  text-decoration: none;
}
.inergwebdesign-text055 {
  color: rgba(83, 83, 83, 1);
  width: 558px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 29px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame1701 {
  top: 2245px;
  left: 348px;
  width: 801px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-group169 {
  width: 801px;
  height: 130px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-text057 {
  color: rgba(29, 45, 63, 1);
  height: auto;
  position: absolute;
  font-size: 54px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 65px;
  font-stretch: normal;
  text-decoration: none;
}
.inergwebdesign-frame14 {
  top: 2469px;
  left: 905px;
  width: 438px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text059 {
  color: rgba(37, 161, 105, 1);
  width: 438px;
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 21px;
  text-decoration: none;
}
.inergwebdesign-text064 {
  color: rgba(132, 132, 132, 1);
  width: 438px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame16 {
  top: 2794px;
  left: 905px;
  width: 381px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text066 {
  color: rgba(37, 161, 105, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 27px;
  text-decoration: none;
}
.inergwebdesign-text071 {
  color: rgba(132, 132, 132, 1);
  width: 381px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-trade {
  top: 2807px;
  left: 836px;
  width: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-group180 {
  width: 38px;
  height: 37.917320251464844px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-group {
  top: 3.7199056148529053px;
  left: 0px;
  width: 15.915023803710938px;
  height: 15.256490707397461px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-group01 {
  top: 0px;
  left: 0px;
  width: 15.915023803710938px;
  height: 15.256490707397461px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-vector {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-group02 {
  top: 18.976343154907227px;
  left: 22.085025787353516px;
  width: 15.915024757385254px;
  height: 15.256406784057617px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-group03 {
  top: 0px;
  left: 0px;
  width: 15.915024757385254px;
  height: 15.256406784057617px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-vector01 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-group04 {
  top: 21.375px;
  left: 0px;
  width: 20.1875px;
  height: 16.542320251464844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-group05 {
  top: 0px;
  left: 0px;
  width: 20.1875px;
  height: 16.542320251464844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-vector02 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-group06 {
  top: 0px;
  left: 17.8125px;
  width: 20.1875px;
  height: 16.542320251464844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-group07 {
  top: 0px;
  left: 0px;
  width: 20.1875px;
  height: 16.542320251464844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-vector03 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-frame13 {
  top: 2487px;
  left: 197px;
  width: 550px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text078 {
  color: rgba(37, 161, 105, 1);
  width: 550px;
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.inergwebdesign-text083 {
  color: rgba(132, 132, 132, 1);
  width: 466px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-clouddata {
  top: 2517px;
  left: 135px;
  width: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-group08 {
  width: 38px;
  height: 38px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-vector04 {
  top: 17.812421798706055px;
  left: 10.09375px;
  width: 18px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-vector05 {
  top: 0px;
  left: -1.4210854715202004e-14px;
  width: 38px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-frame15 {
  top: 2792px;
  left: 203px;
  width: 525px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text085 {
  color: rgba(37, 161, 105, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.inergwebdesign-text090 {
  color: rgba(132, 132, 132, 1);
  width: 525px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-award {
  top: 2792px;
  left: 133px;
  width: 39px;
  display: flex;
  padding: 0 5px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-group09 {
  width: 29px;
  height: 38.000240325927734px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-group10 {
  top: 0px;
  left: 0px;
  width: 28.950115203857422px;
  height: 28.944082260131836px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-vector06 {
  top: 7.788107872009277px;
  left: 7.794419765472412px;
  width: 13px;
  height: 13px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-vector07 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-vector08 {
  top: 28.163349151611328px;
  left: 2.227132797241211px;
  width: 12px;
  height: 10px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-vector09 {
  top: 28.174964904785156px;
  left: 14.88215446472168px;
  width: 12px;
  height: 10px;
  position: absolute;
  box-sizing: border-box;
}
.inergwebdesign-frame4 {
  top: 45px;
  left: 300px;
  width: 561px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.inergwebdesign-text092 {
  color: rgb(53, 53, 53);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 43px;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text092:hover {
  color: #000000;
  text-decoration: underline none;
}
.inergwebdesign-text093 {
  color: rgba(53, 53, 53, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 43px;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text093:hover {
  color: #000000;
  text-decoration: underline;
}
.inergwebdesign-text095 {
  color: rgba(53, 53, 53, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 43px;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text095:hover {
  color: #000000;
  text-decoration: underline;
}
.inergwebdesign-text097 {
  color: rgba(53, 53, 53, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 43px;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text097:hover {
  color: #000000;
  text-decoration: underline;
}
.inergwebdesign-text099 {
  color: rgba(53, 53, 53, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-text099:hover {
  color: #000000;
  text-decoration: underline;
}
.inergwebdesign-frame1 {
  top: 309.0000915527344px;
  left: 135px;
  width: 623px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text101 {
  color: rgba(29, 45, 63, 1);
  width: 623px;
  height: auto;
  font-size: 71px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 84px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 30px;
  text-decoration: none;
}
.inergwebdesign-text103 {
  color: rgba(123, 131, 143, 1);
  width: 604px;
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame181 {
  top: 617px;
  left: 135px;
  width: 315px;
  display: flex;
  padding: 34px 59px;
  position: absolute;
  box-shadow: 0px 35px 55px -12px rgba(56, 48, 116, 0.10000000149011612) ;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 14px;
  margin-bottom: 0;
  background-image: linear-gradient(0deg, rgba(42, 210, 236, 1) 0%, rgba(27, 187, 212, 1) 16%, rgba(22, 169, 192, 1) 30%, rgba(38, 165, 157, 1) 50%, rgba(37, 161, 105, 1) 68%, rgba(69, 167, 65, 1) 84%, rgba(106, 184, 75, 1) 99%);
}
.inergwebdesign-frame181:hover {
  background-image: linear-gradient(90deg, rgb(194, 229, 156) 0.00%,rgb(100, 179, 244) 100.00%);
}
.inergwebdesign-text105 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame18 {
  top: 3605px;
  left: 133px;
  width: 233px;
  display: flex;
  padding: 17px 60px;
  position: absolute;
  box-shadow: 0px 35px 55px -12px rgba(56, 48, 116, 0.10000000149011612) ;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 50px;
  margin-bottom: 0;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(42, 210, 236, 1) 0%, rgba(27, 187, 212, 1) 16%, rgba(22, 169, 192, 1) 30%, rgba(38, 165, 157, 1) 50%, rgba(37, 161, 105, 1) 68%, rgba(69, 167, 65, 1) 84%, rgba(106, 184, 75, 1) 99%);
}
.inergwebdesign-frame18:hover {
  background-image: linear-gradient(90deg, rgb(194, 229, 156) 0.00%,rgb(100, 179, 244) 100.00%);
}
.inergwebdesign-text107 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame3 {
  top: -10px;
  left: 806px;
  width: 662px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-image3 {
  width: 642px;
  height: 883px;
  position: relative;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}

.inergwebdesign-screenshot20220819121915removebgpreview11 {
  top: 26px;
  left: 135px;
  width: 121px;
  height: 49px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.inergwebdesign-screenshot20220819121915removebgpreview12 {
  top: 0px;
  left: 0px;
  width: 121px;
  height: 49px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.inergwebdesign-frame2 {
  top: 932px;
  left: 178px;
  width: 1083px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-image4 {
  width: 1063px;
  height: 111px;
  position: relative;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.inergwebdesign-frame6 {
  top: 1267px;
  left: 749px;
  width: 505px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text109 {
  color: rgba(42, 210, 236, 1);
  width: 505px;
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 42px;
  text-decoration: none;
}
.inergwebdesign-text110 {
  color: rgba(42, 210, 236, 1);
}
.inergwebdesign-text112 {
  color: rgba(29, 45, 63, 1);
  width: 455px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame5 {
  top: 1199px;
  left: 830px;
  width: 344px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text114 {
  color: rgba(106, 184, 75, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame7 {
  top: 1456px;
  left: 893px;
  width: 233px;
  display: flex;
  padding: 20px 60px;
  position: absolute;
  box-shadow: 0px 35px 55px -12px rgba(56, 48, 116, 0.10000000149011612) ;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 50px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(42, 210, 236, 1) 0%, rgba(27, 187, 212, 1) 16%, rgba(22, 169, 192, 1) 30%, rgba(38, 165, 157, 1) 50%, rgba(37, 161, 105, 1) 68%, rgba(69, 167, 65, 1) 84%, rgba(106, 184, 75, 1) 99%);
}
.inergwebdesign-frame7:hover {
  background-image: linear-gradient(90deg, rgb(194, 229, 156) 0.00%,rgb(100, 179, 244) 100.00%);
}
.inergwebdesign-text116 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame8 {
  top: 1231px;
  left: 368px;
  width: 296px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-image5 {
  width: 276px;
  height: 276px;
  position: relative;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.inergwebdesign-frame10 {
  top: 1735px;
  left: 333px;
  width: 406px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text118 {
  color: rgba(106, 184, 75, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame11 {
  top: 1802px;
  left: 279px;
  width: 505px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-text120 {
  color: rgba(27, 187, 212, 1);
  width: 505px;
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 42px;
  text-decoration: none;
}
.inergwebdesign-text121 {
  color: rgba(27, 187, 212, 1);
}
.inergwebdesign-text123 {
  color: rgba(29, 45, 63, 1);
  width: 455px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame12 {
  top: 1987px;
  left: 419px;
  width: 233px;
  display: flex;
  padding: 20px 60px;
  position: absolute;
  box-shadow: 0px 35px 55px -12px rgba(56, 48, 116, 0.10000000149011612) ;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 50px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(42, 210, 236, 1) 0%, rgba(27, 187, 212, 1) 16%, rgba(22, 169, 192, 1) 30%, rgba(38, 165, 157, 1) 50%, rgba(37, 161, 105, 1) 68%, rgba(69, 167, 65, 1) 84%, rgba(106, 184, 75, 1) 99%);
}
.inergwebdesign-frame12:hover {
  background-image: linear-gradient(90deg, rgb(194, 229, 156) 0.00%,rgb(100, 179, 244) 100.00%);
}
.inergwebdesign-text125 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.inergwebdesign-frame9 {
  top: 1756px;
  left: 874px;
  width: 296px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-image6 {
  width: 276px;
  height: 276px;
  position: relative;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.inergwebdesign-frame180 {
  top: 2497px;
  left: 837px;
  width: 47px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}
.inergwebdesign-frame179 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  justify-content: center;
}
.inergwebdesign-user {
  width: 27px;
  height: 57px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
@media(max-width: 1600px) {
  .inergwebdesign-inergwebdesign {
    width: 1470px;
    height: 5709px;
    align-items: flex-start;
    justify-content: center;
  }
  .inergwebdesign-text092 {
    color: rgb(53, 53, 53);
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 30px;
    text-decoration:  none;
  }
  .inergwebdesign-frame181 {
    top: 617px;
    left: 135px;
  }
  .inergwebdesign-frame10 {
    justify-content: center;
  }
}
